ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}
ul.breadcrumb li {
    display: inline;
    font-size: 16px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #757575;
    text-decoration: none;
}
ul.breadcrumb li a:hover,
ul.breadcrumb li a:focus {
    color: #4267b2;
    /*text-decoration: underline;
    font-size: 18px;*/
}